<h4>Create a product</h4>
<form class="new-product" {{action 'createProduct' on="submit"}}>
    <p>
        <label>Title {{input classNames="title" value=title type="text"}}</label>
    </p>
    <p>
        <label>Price {{input classNames="price" value=price type="text"}}</label>
    </p>
    <button class="btn btn-success" type="submit">Submit</button>
</form>