<nav class="tabnav-tabs">
  {{#link-to 'testing.acceptance' classNames="tabnav-tab" activeClass="selected"}}Acceptance{{/link-to}}
  {{#link-to 'testing.mocking' classNames="tabnav-tab" activeClass="selected"}}Mocking{{/link-to}}
  {{#link-to 'testing.unit' classNames="tabnav-tab" activeClass="selected"}}Unit{{/link-to}}
</nav>