<h2>Testing</h2>

<hr>

<h3>{{#link-to 'testing.acceptance'}}Acceptance{{/link-to}}</h3>
<h3>{{#link-to 'testing.mocking'}}Mocking{{/link-to}}</h3>
<h3>{{#link-to 'testing.unit'}}Unit{{/link-to}}</h3>
<h3>{{#link-to 'testing.components'}}Components{{/link-to}}</h3>

<hr>

{{#link-to "testing.acceptance" class="btn btn-primary"}}Start: Acceptance with Testing{{/link-to}}