{{testing-nav}}

<p class="lead">Everything you need to do testing.</p>

<hr>

<h3>Running from command line</h3>

<img src="/images/running-tests-from-cli.gif">

<hr>

<h3>Running tests in the browsers</h3>

Go to the test runner <a href="/tests" target="_blank">http://localhost:4200/tests</a>

<hr>

<h3>QUnit Test Runner</h3>

<img src="/images/qunit-test-runner.png">

<hr>

<h3>Chrome Inspector Source Panel</h3>

<img src="/images/chrome-inspector-source-panel.png">

<hr>

{{#link-to "testing.acceptance" class="btn btn-primary"}}Next: Acceptance with Testing{{/link-to}}